services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=finance_db

  web:  
    build: .
    ports: ["8000:8000"]
    volumes:
      - .:/app
    env_file: .env
    depends_on:
      - db
    command: tail -f /dev/null
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/finance_db
  